.background {
    background-color: rgb(0, 60, 255);
}

.border {
    border: 4px solid rgb(255, 0, 0);
    border-radius: 8px;
    width: 30%;
    padding: 5px;
    margin: auto;
    color: rgb(255, 255, 255);
    text-align: center;
}

.border {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.confirmation {
    color: white;
    display: hidden;
    text-align: center;
}
.login {
    text-align: center;
    width: 25%;
    border: 3px solid rgb(255, 0, 0);
    border-radius: 8px;
    margin: auto;
    padding: 5px;
    color: white;
   /* color: rgb(68, 255, 93);*/
}

.login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sidebar a:hover, .button:hover {
    color: rgb(0, 225, 255);
}

.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(195, 255, 104);
    display: block;
}

.sidebar {
    height: 100%;
    width: 50px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(148, 39, 0);
    overflow-x: hidden;
    padding-top: 20px;
    width: 14%;
    border: 3px solid rgb(255, 0, 0);
    border-radius: 8px;
}

.wrapper {
    position: absolute;
    top: 15%;
    left: 75%;
    transform: translate(-50%, -50%);
}

.search-box {
    width: 450px;
    height: 100px;
    position: relative;
}

.input {
    position: absolute;
    top: 20px;
    right: 50px;
    box-sizing: border-box;
    width: 300px;
    height: 63px;
    padding: 0 20px;
    outline: none;
    font-size: 18px;
    border-radius: 50px;
    color: #29313a;
    border: 3px solid orangered;
    transition: all 0.8s ease;
}

 ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: greenyellow;
}

 ::-moz-placeholder {
    /* Firefox 19+ */
    color: greenyellow;
}

 :-ms-input-placeholder {
    /* IE 10+ */
    color: greenyellow;
}

 :-moz-placeholder {
    /* Firefox 18- */
    color: greenyellow;
}

.button {
    position: absolute;
    width: 80px;
    height: 80px;
    background: orangered;
    border-radius: 50%;
    right: 45px;
    top: 10px;
    cursor: pointer;
    text-align: center;
    line-height: 80px;
    font-size: 20px;
    color: greenyellow;
    transition: all 0.8s ease;
}

.logout {
    display: flex;
    margin-top: 530px;
}

.tabel {
    border: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    border-style: solid;
    height: 100%;
    width: 50%;
    margin-top: 60px;
    margin-left: 300px;
}

.logo {
    margin-left: 350px;
    margin-top: 30px;
}

.container {
    background-color: black;
    box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.2);
    padding: 20px;
    width: 350px;
    max-width: 100%;
    float: right;
    margin-top: 100px;
}

.result-container {
    background-color: greenyellow;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 12px 10px;
    height: 30px;
    width: 100%;
}

.result-container #result {
    word-wrap: break-word;
    max-width: calc(100% - 40px);
}

.result-container .btn {
    font-size: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
    height: 40px;
    width: 40px;
}

.btn {
    border: none;
    color: greenyellow;
    cursor: pointer;
    font-size: 16px;
    padding: 8px 12px;
    background-color: orangered;
}

.btn-large {
    display: block;
    width: 100%;
}

.setting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}

@media screen and (max-width: 400px) {
    .result-container {
        font-size: 14px;
    }
}

.letter {
    color: greenyellow;
}